@{
    Layout = null;
}
<html lang="en">
<head>
    <title>Ex06_2020</title>
    <link rel="stylesheet" href="~/Styles/style.css">
    <script src="~/Scripts/jquery-3.3.1.js"></script>
    <script src="~/Scripts/userScript.js" type="text/javascript"></script>
</head>
<body>
@* <table class="table"> *@
@*     <thead> *@
@*     <tr> *@
@*         <th>ID</th> *@
@*         <th>OwnerId</th> *@
@*         <th>Name</th> *@
@*         <th>Description</th> *@
@*         <th>Subscribers</th> *@
@*     </tr> *@
@*     </thead> *@
@*     <tbody></tbody> *@
@* </table> *@

Name: <input type="text" id="docName"/>
Contents: <input type="text" id="docContent"/>
<button id="addDoc">Add Document</button>

<ul id="authorData">
    
</ul>

<button id="show">Show Document With Most Authors</button>
<p id="document"></p>

</body>
</html>